body {
  font-family: Trebuchet MS;
  width: 256px;
}

a {
  font-style: none;
  text-decoration: none;
  color: #2222dd;
}

div#footer {
  text-align: center;
  margin: 5px;
  font-size: 12px;
}

div#footer.appname {
  font-weight: bold;
}