body {
  font-family: Trebuchet MS;
  width: 120px;
}

a {
  font-style: none;
  text-decoration: none;
  color: #2222dd;
}

div {
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

div.header {
  font-weight: bold;
}