.space {
  position: relative;
  height: 17px;
}

.price {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.hiprice {
  background-color: #D9FCD1;
  width: 76px;
  /* width: 107 px*/
  float: left;
}

.avgprice {
  background-color: #D1DFFC;
  width: 77px;
  /* width: 106 px*/
  float: left;
}

.lowprice {
  background-color: #FCD1D1;
  width: 76px;
  /* width: 107 px*/
  float: right;
}

.foilavgprice {
  background-color: #F8F59A;
  margin-top: 18px;
}

#error {
  color: #C00;
  text-align: center;
  font-weight: bold;
  margin-top: 18px;
}

#footnote {
  margin-top: 10px;
  font-size: 10px;
  color: blue;
}

#footnote:hover {
  cursor: pointer;
}

.price a {
  color: black;
}

.price a:visited {
  color: black;
}

#storelink {
  font-size: 14px;
  margin-top: 7px;
}
